<<<<<<< HEAD
# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = doubanmovies.settings

[deploy]
#url = http://localhost:6800/
project = doubanmovies
=======
# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = doubanmovies.settings

[deploy]
#url = http://localhost:6800/
project = doubanmovies
>>>>>>> fcd31432a0445dadcfd24bf226c606dde305c838
